<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>captureleadsjordi</name>
	<displayName><![CDATA[captureleadsjordi]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[capture leads de jordi]]></description>
	<author><![CDATA[jordi]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
